@charset "utf-8";
/* 全体設定 */
html,
body,
header {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  padding: 0 32px;
  border-bottom: 2px solid lightgray;
}
img {
  border-radius: 8px;
}
.title {
  width: 88%;
  margin: 0 auto;
}
/* ヘッダー */
.header {
  margin: 0;
  padding: 0;
  display: flex;
}
.header h1 {
  font-size: 24px;
  margin: 0;
  padding: 16px;
  color: white;
  background-color: red;
}
.header ul {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
.header li {
  margin: 16px;
  transition: 0.3s;
  color: black;
  font-weight: bold;
}
li:hover {
  transition: 0.3s;
  cursor: pointer;
  color: red;
}
.header a {
  text-decoration: none;
}
#icon {
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 16px;
}

/* スライド */
.slide-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.slide {
  width: 200%;
  height: 100%;
  display: flex;
  transition: all 0.6s;
}
.slide img {
  width: 100%;
  height: 480px;
}
.slide div {
  width: 50%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.slide1 {
  transform: translateX(0);
}
.slide2 {
  transform: translateX(-50%);
}
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#prev,
#next {
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 120px;
  aspect-ratio: 1;
  background-color: #6fa24a;
  color: white;
  z-index: 10;
}
#prev {
  position: absolute;
  left: 0;
  font-size: 24px;
}
#next {
  position: absolute;
  right: 0;
}
#prev:hover,
#next:hover {
  background-color: #54802f;
}
.indicator {
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 0px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
}
.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
}
.indicator li:first-of-type {
  background-color: #000;
}

/* トピックス */

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  height: fit-content;
  padding: 16px;
}
.article {
  width: calc(88% / 4);
  height: auto;
  margin: 0 auto;
}
.article img {
  display: block;
  width: 100%;
}
.article a {
  display: block;
  text-align: center;
  margin: 0;
  margin: 8px;
}
.article p {
  padding: 0 16px;
}
.article img:hover {
  filter: brightness(1.2);
}

/* ゲームソフト */
.gamesoft {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  height: fit-content;
}
.soft {
  padding: 16px;
  margin: 0 auto;
}
.soft img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.soft img:hover {
  filter: brightness(1.2);
}
.soft p {
  padding: 0 16px;
}
.soft.none {
  display: none;
}

/* 更新情報 */
.update {
  text-align: center;
  margin: 32px 64px;
}

/* フッター */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  margin: 0 auto;
  background-color: red;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* トピック */
.topic-container {
  width: 100%;
  display: flex;
}
.box-left {
  width: 60%;
  height: auto;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding: 0;
}
.text {
  margin: 0 auto;
  width: 70%;
}

.box-left img {
  width: 70%;
  height: auto;
}
#new-title {
  border-bottom: 1px solid lightgray;
}
.box-right {
  width: 20%;
  height: auto;
  border: 2px solid lightgray;
  padding: 16px;
}

.new-article {
  border-bottom: 1px solid lightgray;
  padding: 16px 0;
  margin: 0;
  display: flex;
}
.new-article img {
  width: 90px;
  height: 90px;
  vertical-align: middle;
}
.new-article p {
  margin: 0;
  padding: 8px;
}

@media (max-width: 1000px) {
  .header {
    display: block;
  }
  .header h1 {
    text-align: center;
  }
  .header li {
    font-size: 12px;
  }
  .article {
    width: calc(100% / 2);
    margin: 0 auto;
  }
  .topic-container {
    display: block;
  }
  .box-left {
    margin: 0 auto;
    width: 100%;
  }
  .box-right {
    width: 90%;
    margin: 0 auto;
  }
}
